Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-identifier-naming
WarningsAsErrors: 'bugprone-*,clang-analyzer-*'
HeaderFilterRegex: 'apps/launcher/src/.*'
CheckOptions:
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.FunctionCase: camelBack
